<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 此处与接口类地址对应 -->
<mapper namespace="com.spring.boot.example.springbootmybatis.mapper.Sci_NewsMapper">
    <!-- 此处与接口方法名对应 指定参数类型与返回结果类型-->

    <!--关系映射设置-->
    <resultMap id="map01" type="com.spring.boot.example.springbootmybatis.dao.Sci_News">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="user_id" column="user_id"/>
        <result property="link" column="cover"/>
        <result property="downloads" column="downloads"/>
        <result property="gmt_create" column="gmt_create"/>
        <result property="create_by" column="create_by"/>
        <result property="gmt_update" column="gmt_update"/>
        <result property="update_by" column="update_by"/>
        <association property="user" javaType="com.spring.boot.example.springbootmybatis.dao.Sys_User">
            <id property="id" column="id"/>
            <result property="nickname" column="nickname"/>
            <result property="email" column="email"/>
            <result property="phone" column="phone"/>
        </association>
    </resultMap>

    <select id="getSci_NewsById" parameterType="java.lang.String" resultMap="map01">
        select sn.id,sn.title,sn.type,sn.user_id,sn.link,sn.downloads,sn.gmt_create,sn.create_by,sn.gmt_update,sn.update_by,su.id suid,su.nickname,su.email,su.phone
        from sci_news sn, sys_user su
        where sn.user_id = su.id and sn.id = #{id}
    </select>
</mapper>